.register{
  height: 100vh;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  .card{
    display: flex;
    width: 50%;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    .left{
      flex: 1;
      background:linear-gradient(rgb(243, 204, 156, 0.5), rgb(249, 164, 61, 0.5)), url('https://images.pexels.com/photos/3361746/pexels-photo-3361746.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
      justify-content: center;
      h1{
      font-size: 100px;
      line-height: 100px;
      margin-bottom: 0;
      }
      p{
        font-size: 18px;
      }
      span{
        font-size: 14px;
      }
      button{
        width: 50%;
        background-color: white;
        color: rgb(99, 99, 35);
        font-weight: 700;
        border: none;
        padding: 20px;
      }
    }
    .right{
      flex:1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      background-color: white;
      h1{
        color:rgb(99, 99, 35) ;
      }
      form{
        display: flex;
        flex-direction: column;
        gap: 30px;
        input{
          border: none;
         border-bottom: 1px solid lightgray;
         padding: 20px 10px;
      }  
      button{
        width: 50%;
        color: white;
        background-color: rgb(99, 99, 35);
        font-weight: 700;
        border: none;
        padding: 20px;
      }
      }
     
    }
  }
}